<!DOCTYPE HTML>
<html>
<head>
    <title>Rent cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <div>
            <form metod ="post">
            <div> Input params auto:<div/>
            <input type="text" name="name" placeholder = "name">
            <input type="text" name="model" placeholder = "model">
            <input type="text" name="model" placeholder = "yearOfManufacture">
            <input type="text" name="engineVolume" placeholder = "engine volume">
            <input type="text" name="description" placeholder = "description">
            <button type="submit"> Добавить</button>
            </form>
        </div>

    <div>List of cars for rent</div>
        {{#cars}}
        <div>
        <b>{{id}}</b>
        <span>{{model}}</span>
        <i>{{yearOfManufacture}}</i>
        </div>
        {{/cars}}
   </body>
</html>